@tailwind base;
@tailwind components;
@tailwind utilities;

/* ✅ Hide Scrollbar Completely */
.no-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
  }
  
  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome/Safari */
  }
  /* Add this to your CSS file */
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
  scrollbar-width: none;  /* Hide scrollbar for Firefox */
}